*,
:after,
:before {
  box-sizing: border-box;
}

.background {
  background-image: url(./resources/images/background.svg);
  display: flex;
  margin: 0 auto;
}
/* 
.page {
  height: 100vh;
} */

.gameContainer {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: space-evenly;
}
